<div id="lobby-1-registro" class="pantalla-spa pantalla-oculta absolute inset-0 z-40 bg-slate-950 flex-col p-6 overflow-y-auto no-scrollbar">
    <h2 class="text-xl font-bold text-slate-100 mb-6">Registro de Identidad</h2>
    <form id="reg-form" class="space-y-4">
        <input type="text" placeholder="Nombre Completo" class="w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3 text-slate-200">
        <input type="text" placeholder="Cédula" class="w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3 text-slate-200">
        <div class="bg-slate-900 p-4 rounded-xl border border-slate-800 mt-2">
            <h3 class="text-xs font-bold text-amber-500 mb-1">Descargo Legal</h3>
            <p class="text-[10px] text-slate-400">RanKingGo no se hace responsable por incidentes viales...</p>
        </div>
    </form>
    <button onclick="navegarA('lobby-2-seleccion', 'Portal Operativo')" class="w-full bg-amber-500 text-black font-black p-4 rounded-xl mt-6">Completar Registro</button>
</div>